{% extends "__layout.twig" %}

{% block content %}

<li class="list-group-item">
    <h5>
        {% block objectContent %}
        Выберите, какую информацию хотите посмотреть
        {% endblock %}
    </h5>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{ is_image ? 'active' }}" href="{{image_url}}"><button type="button"
                    class="btn btn-light">Картинка</button></a>
        </li>

        <li class="nav-item">
            <a class="nav-link  {{ is_info ? 'active' }} " href="{{info_url}}"><button type="button"
                    class="btn btn-light">Описание</button></a>
        </li>
    </ul>
</li>
{% endblock %}