{% extends "__layout.twig" %}
{% import "macro.html.twig" as forms %}

{% block content %}

<li class="list-group-item">
    <h5>
        {% block objectContent %}
        Выберите, какую информацию хотите посмотреть
        {% endblock %}
    </h5>

    <ul class="nav nav-pills">
        <li class="nav-item">
            {{ forms.btn("Картинка", image_url, false, "warning") }}
        </li>

        <li class="nav-item">
            {{ forms.btn("Описание", info_url, true, "warning") }}
        </li>
    </ul>
</li>
{% endblock %}