{% extends "__layout.twig" %}

{% block content %}
    <h2>Добавление агентов</h2>
    <hr>

    {% if message %}
    <div class="alert alert-info"> 
        {{message}}
        <a href="/agents_object/{{id}}">открыть созданного агента</a>
    </div>
    {% endif %}

    <form action="" method="POST" class="row g-3">
        <div class="col-md-2">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="col-md-4">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="col-md-2">
            <label class="form-label">Тип</label>
            <select class="form-select" name="type">
                <option value="дуэлянт">Дуэлянт</option>
                <option value="страж">Страж</option>
            </select>
        </div>
        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5"></textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-dark">Добавить</button>
        </div>
    </form>

{% endblock %}