{% extends "__object.twig" %}

{% block objectContent %}
<div>
    <li class="list-group-item">Killjoy (кодовое имя Бомба) — немецкий контрактный агент-страж из игры VALORANT, базирующийся на сборе информации и отвлечения противника. Ее способности помогают контролировать самые неудобные места на карте. Благодаря им шанс победы команды Killjoy сильно возрастает.</li>
</div>
{% endblock %}