{% extends "__layout.twig" %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="/reyna" class="btn btn-dark" role="button" data-bs-toggle="button">Рейна</a>
        <a href="/reyna/image" class="btn btn-light" role="button" data-bs-toggle="button">Картинка </a>
        <a href="/reyna/info" class="btn btn-light" role="button" data-bs-toggle="button">Описание</a>
    </li>

    <li class="list-group-item">
        <a href="/killjoy" class="btn btn-dark" role="button" data-bs-toggle="button">Киллджой</a>
        <a href="/killjoy/image" class="btn btn-light" role="button" data-bs-toggle="button">Картинка </a>
        <a href="/killjoy/info" class="btn btn-light" role="button" data-bs-toggle="button">Описание</a>
    </li>
</ul>

{% endblock %}