{% extends "__object.twig" %}

{% block objectContent %}
<div>
    <li class="list-group-item"> Reyna (кодовое имя Вампир) — мексиканский контрактный агент-дуэлянт из игры VALORANT. Reyna — дуэлянт, полностью сосредоточенный на атаке. Она способна победить практически в любой схватке один на один при равных условиях, а в умелых руках этот агент может стать худшим кошмаром для соперников. </li>
</div>
{% endblock %}